body {
  background-color: #66a4ad;
}

img {
  display: block;
  border-radius: 25px;
  position: static;
}

a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
