body {
  background-color: #e3cac7;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  text-align: center;
}

.crossiant-photo {
  display: block;
  border-radius: 25px;
  position: static;
  margin: 30px auto;
  max-width: 100%;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  text-align: center;
  text-transform: capitalize;
  color: black;
}
